.LSV1{
   width: 80%;
   height: 100px;
   background-color: #e67b3c;
   transition: 0.5s;
   
}

.LSV1:hover{
    background-color:#f5b958;
}

.LSV1:after {
    content: '\2193';
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.LSV2{
    width: 80%;
    height: 100px;
    background-color:#e67b3c;
    transition: 0.5s;
}

.LSV2:hover{
    background-color:#f5b958;
}

.LSV3{
    width: 80%;
    height: 100px;
    background-color:#e67b3c;
    transition: 0.5s;
}

.LSV3:hover{
    background-color:#f5b958;
}

.contenu1{
   
}

