@font-face {
	font-family: 'titre';
	font-weight: 700;
	src:  url(./fonts/Modak-Regular.ttf) format(truetype)
}
/* Loader */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4EFDD;
  z-index: 9999;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#loader:after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #cccccc;
  border-color: #cccccc transparent #cccccc transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


/* Fin loader */
h1, h2, h4, h6 {
  font-family: 'titre';
}
p, a, li, span, h3 {
  font-family: Helvetica, Arial;
}
h5 {
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 1.5em;
}
li {
  text-decoration: none;
  list-style-type: none;
}
.orange {
  color: #f5b958;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #F4EFDD;
}
#section_infographie, #section_video, #section_temoignage, #section_quizz, #en_savoir_plus {
  padding-top: 120px;
}

/* CSS du quizz */

#quiz-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
  
#options button {
  margin: 10px;
  padding: 10px 20px;
}

#explanation {
  display: none;
  margin: 20px 0;
  font-style: italic;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}



/* hero banner */

.hero_banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fleche_bottom {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: fleche_bottom 1s infinite alternate;
  color: white;
}
@keyframes fleche_bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.h1_slogan_hero_banner {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: white;
}

.description_hero_banner {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 0;
  font-size: 1.35em;
}


/* CSS de la barre de navigation */

/* CSS de la barre de navigation */
header {
  width: 100%;
  height: fit-content;
  z-index: 10;
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header p, header a, header li, header span, header h1 {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/fond.png);
  background-size: contain;
  filter: blur(1.5px) brightness(0.8);
  z-index: -10;
}


#nav_bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: fit-content;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.ul_navbar {
  top: 0;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}


.liens_navbar {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.logo_mesr {
  position: sticky;
  top: 0;
  aspect-ratio: 3/2;
}

.hero_banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero_banner_texteSection {
  background-color: #703b1d90;
  height: fit-content;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 20px;
  right: 50px;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#range {
  color: #202124;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.high-contrast {
  background-color: #000;
  color: #fff;
}


/* CSS de l'infographie */


#section_infographie {
  margin-top: 50px;
}
.infographie {
  /* aspect-ratio: 1/3; */
  width: 80%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-self: center;
}

/* css de la section vidéo */

#section_video {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section_video p {
  text-align: justify;
  font-size: larger;
}
.video {
  aspect-ratio: 16/9;
  height: 80vh;
  margin: 30px auto;
}

/* CSS de la section témoignage */

#section_temoignage {
  width: 90%;
  margin: 50px auto;
}

#section_temoignage p {
  font-size: larger;
}

.cards_temoignage {
  height: 350px;
  width: 80%;
  display: flex;
  left: -100%;
  flex-wrap: nowrap; /* Empêche le retour à la ligne des cartes */
  justify-content: flex-start; /* Aligne les cartes au début */
  align-items: stretch; /* Étend les cartes verticalement pour les aligner en hauteur */
  gap: 50px; /* Ajoute un espacement entre les cartes */
  margin: 30px auto;
  padding-top: 30px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}


.card_temoignage {
  flex: 0 0 30%; /* Définit une largeur de 80% de l'espace disponible dans le conteneur */
  height: 80%; /* Remplit la hauteur disponible */
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}


/* Ajoutez les styles pour le défilement fluide */
.card_temoignage:first-child {
  margin-left: 10px; /* Ajoutez une marge à gauche pour la première card */
}

.card_temoignage:last-child {
  margin-right: 10px; /* Ajoutez une marge à droite pour la dernière card */
}

.cards_temoignage::-webkit-scrollbar {
  width: 0; /* Masquez la scrollbar */
}


/* css du quizz */

#section_quizz {
  width: 80%;
  margin: 50px auto;
  justify-content: center;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: xx-large;
}
#quiz-container {
  border: solid;
  background-color: antiquewhite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#question {
  font-size: x-large;
}

/* section en savoir plus */

#en_savoir_plus {
  width: 80%;
  margin: 50px auto;
}
.cards_esp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.card_esp {
  width: fit-content;
  padding: 40px;
  border-radius: 50px;
  border: solid;
  transition: all 0.3s
}
.card_esp:hover {
  scale: 1.05;
  transition: all 0.3s;
}
.card_esp p {
  padding: 50px;
}
.card_esp a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
}

/* CSS du footer */

footer {
  background-color: #385281;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 130%;
}
#footer_elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
}
.footer_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.footer_social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
  gap: 15px;
  transition: all 0.3s;
  list-style-type: none;
}
.footer_social ul li:hover {
  scale: 1.05;
  transition: all 0.3s;
}

.footer_decouvrir {
  flex-direction: column;
  width: 100%;
}
.footer_decouvrir h3 {
  margin-bottom: 20px;
  width: fit-content;
  margin: auto;
}
.footer_decouvrir ul {
  height: 80%;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  align-self: center;
}
.footer_decouvrir ul li {
  width: fit-content;
  margin: auto;
}
.footer_decouvrir ul li a {
  text-decoration: none;
  color: white;
}

.footer_newsletter {
  width: 100%;
  align-items: center;
}
.footer_newsletter h3 {
  margin-bottom: 20px;
  width: fit-content;
  margin: auto;
}
.input_mail {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: none;
  margin: 10px auto;
  padding-left: 10px;
}
.submit_mail {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: solid;
  margin: 10px auto;
  background-color: #385281;
  color: white;
  font-weight: bold;
}