@font-face {
	font-family: 'titre';
	font-weight: 700;
	src:  url(./fonts/Modak-Regular.ttf) format(truetype)
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'titre';
}
p, a, li, span {
  font-family: Helvetica, Arial;
}
li {
  text-decoration: none;
  list-style-type: none;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* CSS du quizz */

#quiz-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
  
#options button {
  margin: 10px;
  padding: 10px 20px;
}

#explanation {
  display: none;
  margin: 20px 0;
  font-style: italic;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}



/* hero banner */

.hero_banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fleche_bottom {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: fleche_bottom 1s infinite alternate;
}
@keyframes fleche_bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.h1_slogan_hero_banner {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.description_hero_banner {
  margin-bottom: 20px;
  text-align: center;
  padding: 0;
  font-size: 20px;
}


/* CSS de la barre de navigation */

/* CSS de la barre de navigation */
header {
  width: 100%;
  height: fit-content;
}

#nav_bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: fit-content;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.ul_navbar {
  top: 0;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}


.liens_navbar {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.logo_mesr {
  position: sticky;
  top: 0;
  aspect-ratio: 3/2;
}

.hero_banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 20px;
  right: 50px;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.range {
  color: #202124;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
/* CSS de l'infographie */

#section_infographie {
  margin-top: 50px;
}

.infographie {
  aspect-ratio: 16/9;
  height: 85vh;
  margin: auto;
  display: flex;
  justify-self: center;
}